<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration for logback 0.9.20. NOTE: The format of this file is NOT compatible with earlier versions of logback. -->


<configuration>

	<!-- log to System.out on console -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- log to file test.log -->
	<appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
		<file>C:/temp/test.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="ALL">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="LOGFILE"/> 
	</root>

	<logger name="org.apache.aries" level="INFO" />


</configuration>